{% load static %} <!-- first tell app to load static files by using template engine-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../../static/style.css"> this wont work -->
     <link rel="stylesheet" href="{% static 'style.css' %}"> <!-- then tell which static files to load by using template engine-->
      

</head>
<body>
    <h1>hi rahul</h1>
</body>
</html>